main{
    border: 2px solid green;
    height: 500px;
    width:1200px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px dashed purple;
    width: 500px;
    margin:0 auto;
}
.flex-container > div{
    border: 1px solid red;
    padding: 30px;
    margin: 20px;
    font-size: 30px;
    color: blue;
    background-color: pink;
}